div {
  border-width: 1px;
  border-color: red;
  border-style: solid;
}

.header {
  height: 95px;
  display: flex;
}

.header-link {
  margin: auto;
}

.project {
  background-position: center;
  background-size: cover;
}

.project_beginner {
  width: 636px;
  height: 430px;
}